:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Source Code Pro", monospace;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

div.home {
  justify-self: center;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-gap: 10px;
  /* overflow: auto; */
  justify-content: end;
}
body {
  /* background-color: black; */
  /* background-image: url(https://wallpapercave.com/wp/wp5556224.jpg); */
  background-image: url(https://wallpapercave.com/wp/wp5556224.jpg);
  /* background-image: url(https://wallpapercave.com/wp/wp8964049.jpg); */
  /* https://wallpaperaccess.com/full/2841127.jpg
} */
}
accountpage {
  background-color: black;
}

body {
  margin: 0;
  /* background-image: url(https://wallpapercave.com/wp/wp8964049.jpg); */
  display: flex;
  place-items: center;
  min-width: 500px;
  min-height: 100vh;
}
input {
  width: 200px;
  align-items: center;
  padding: 2px;
  height: 30px;
  border-radius: 10px;
}
h1 {
  font-size: 4em;
  /* line-height: 1.1; */
}

h2 {
  /* font-size: 3.2em; */
  padding: inherit;
  top: 0;
  left: 0;
  font-size: 3.2em;
}

form {
  text-align: center;
  display: flex;
  place-items: center;
  flex-direction: column;
}

label > input {
  z-index: 1;
  position: relative;
  text-align: center;
}
button {
  border-radius: 10px;
  /* border: 1px solid transparent; */
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 208px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
input.authpage {
  color: white;
  border-radius: 10px;
  width: 200px;
  height: 30px;
  font-size: medium;
}
div.homefeed {
  /* background-color: black; */
  /* padding: 100px; */
  text-align: center;
  /* background-image: url(https://wallpapercave.com/wp/wp5556224.jpg); */
  overflow-x: auto;
  flex-wrap: nowrap;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

header {
  color: darkslateblue;
  background-color: white;
  text-align: left;
  height: 75px;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
*/
/* body {
  background-color: #8d5ebb;
  width: 50;
  height: 60;
  text-align: center;
  padding: 40px;
}
h1 {
  margin: 20px;
}
h2 {
  color: white;
  text-align: center;
  margin: 15px;
}
h3 {
  font-family: "Courier New", Courier, monospace;
}
h4 {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: xx-large;
  text-align: center;
}
/* home button {
  width: 300px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -100px;
} */
/* img {
  width: 34%;
  height: 18%;
  padding: 20px;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.textbox {
  background-color: darkslateblue;
  border: 50px solid;
  width: 45%;
  height: 1050px;
  padding: 22px;
  text-align: left;
  border-color: blueviolet;
  top: 59%;
  left: 50%;
  bottom: 40%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: white;
  font-size: larger;
  flex-direction: column;
}

div.homebutton {
  text-align: center;
  /* background-color: rgb(243, 243, 243); */
  border: 5px;
  padding: 15px 32px;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  /* -webkit-transition-duration: 0.6s; */
  transition-duration: 0.6s;
  cursor: pointer;
  display: block;
  margin: auto;
}

.button.browse.button {
  text-align: center;
  position: absolute;
  /* top: 10%; */
  /* right: 0; */
  width: 120px;
  /* transform: translateY(-50%); */
  /* bottom: 0px; */
  box-sizing: border-box;
  /* color: rgb(92, 92, 92); */
  height: 38px;
  /* left: 0px; */
  position: fixed;
  /* right: 0px; */
  /* text-align: left; */
  text-size-adjust: 100%;
  text-transform: uppercase;
  top: 5%;
  /* width: 750px; */
  column-rule-color: rgb(92, 92, 92);
  perspective-origin: 375px 19px;
  transform-origin: 375px 19px;
  /* border: 0px none rgb(92, 92, 92); */
  font: normal normal normal normal 12px / 20px -apple-system, "Helvetica Neue",
    Helvetica, "Segoe UI", Arial, sans-serif;
  /* margin: 30px 0px 10px; */
  left: 85%;
  outline: rgb(92, 92, 92) none 0px;
  border-radius: 10px;
}
input.searchbar {
  /* font-size: 24px; */
  width: 350px;
  height: 25px;
  border-radius: 10px;
  /* display: flex; */
}
.container {
  right: 10%;
}
